{% extends "layout.html" %}

{% block pageTitle %}
  Local plan 2033
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v2/hackney">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Local plan 2033
      </h1>

      <p>Hackney Council</p>
      <p>The new borough-wide local plan 2033, known as LP33, will be the key strategic planning document used to direct and guide development in the borough up to 2033.</p>
      
      <h4 class="govuk-heading-s">Document url</h4>
      <p><a href="https://drive.google.com/file/d/1SZVBQcfOB7cMW7AMel7NqOJ3cOYpnu60/view" class="govuk-link">SD01 – proposed submission local plan 2033</a></p>

      <p>[Policies]</p>

      <h3 class="govuk-heading-m">Additional information</h3>
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Additional metadata
      </span>
    </summary>
    <div class="govuk-details__text">
        <p><b>Categories</b> Housing, Employment, Transport infrastructure</p>
        <p><b>Shape</b> [30, 10], [40, 40], [20, 40]</p>
    </div>
  </details>




    </div>
  </div>

{% endblock %}
