{% extends "layout-masthead.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{# {% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %} #}

{# {% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Planning policy</a>
      </li>

    </ol>
  </div>
{% endblock %} #}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">435</h2>
                <p class="govuk-body-m">Organisations</p>
            </div>

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">422</h2>
                <p class="govuk-body-m">Local plans</p>
            </div>
         </div>


    <hr>

    <div class="govuk-grid-row govuk-!-margin-top-9">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Plan data</h2>
        <p class="govuk-body-m">Review data from all local plans</p>
        <p><a href="/v2/plan-figures" class="govuk-link">View plan data</a></p>

      </div>

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Planning authorities</h2>
        <p class="govuk-body-m">Find a planning authority's local plan.</p>
        <p><a href="/v2/organisation" class="govuk-link">View planning authorities</a></p>

      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-9">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Publish your data</h2>
        <p class="govuk-body-m">Some content on what sits behind this link</p>
        <p><a href="#" class="govuk-link">Publish data</a></p>

      </div>
     
</div>





     
</div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
