{% extends "layout.html" %}

{% block pageTitle %}
  Plan data
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v2/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Plan data
      </h1>

                <h3 class="govuk-heading-m">Download timetable data</h3>
          <p>This download includes timetable information relating to all development management documents in planning authorities local development scheme.</p>

      <p><a href="#" class="govuk-link">Download CSV 11.7KB</a></p>

<style>

    .govuk-form-group {
      display: inline-block;
    }

</style>

    <hr class="govuk-section-break govuk-section-break--l">


          <h3 class="govuk-heading-m">Download policy data</h3>
          <p>This download includes policy data data for all development planning documents contained in all planning authorities current and emerging local plans.</p>

      <p><a href="#" class="govuk-link">Download CSV 15.8KB</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Download custom data</h3>
<p class="govuk-body-l">Filter and download custom date.</p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
<form class="form" action="/v2/hackney" method="post">
                  <select class="govuk-select" name="local-authority-select" id="local-authority-select">
            <option value="">Select local authority</option>
            {% for council in councils %}
              <option value="local-authority-eng:{{council["local-authority-eng"]}}">{{ council["official-name"] }}</option>
            {% endfor %}
          </select>

      </form>

</div>
</div>
  {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: ""
  },
  items: [
    {
      value: "Document type",
      text: "Document type",
      selected: true

    },
        {
      value: "all",
      text: "All"
    },
    {
      value: "development management documents",
      text: "Development management documents"    
      },
        {
      value: "Policies",
      text: "Policies"    
      }
  
  ]
}) }}



  {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: ""
  },
  items: [
    {
      value: "category",
      text: "Category",
      selected: true
    },
        {
      value: "all",
      text: "All"
    },
    {
      value: "housing",
      text: "Housing"    
      },
      {
      value: "transport",
      text: "Transport infrastructure"    
      },
            {
      value: "waste management",
      text: "Waste management"    
      },
      {
      value: "retail",
      text: "Retail"    
      },
      {
      value: "employment",
      text: "Employment"    
      }
  
  ]
}) }}

  {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: ""
  },
  items: [
    {
      value: "status",
      text: "Status",
      selected: true

    },
        {
      value: "all",
      text: "All"
    },
    {
      value: "examination",
      text: "Examination"    
      },
        {
      value: "adopted",
      text: "Adopted"    
      }
  
  ]
}) }}


<button class="govuk-button" data-module="govuk-button">
  Apply filter
</button>
<button class="govuk-button" data-module="govuk-button">
  Download results
</button>

</div>
</div>
  <div class="govuk-grid-row">

   <div class="govuk-grid-column-two-thirds">
       <hr class="govuk-section-break govuk-section-break--l">

   <h3 class="govuk-heading-s"><a href="/v2/policy-public-realm">Public Realm</a></h3>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Organisation</b> <a href="/v2/hackney">Hackney Council</a></p>
    <p class="govuk-body govuk-!-margin-bottom-0"><b>Document </b><a href="/v2/hackney-local-plan-2033" class="govuk-link">Local plan 2033</a></p>
   <p class="govuk-body"><b>Last updated</b> entry-date</p>

   </div>

      <div class="govuk-grid-column-two-thirds govuk-body govuk-!-margin-top-3">
   <h3 class="govuk-heading-s"><a href="/v2/policy-housing-supply" class="govuk-link">Housing Supply</a></h3>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Organisation</b> <a href="/v2/hackney">Hackney Council</a>l</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><b>Document </b><a href="/v2/hackney-local-plan-2033" class="govuk-link">Local plan 2033</a></p>
   </div>

</div>


    </div>
  </div>

{% endblock %}
