{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Plan data
      </h1>

                <h3 class="govuk-heading-m">Download timetable data</h3>
          <p>This download includes timetable information relating to all development management documents in planning authorities local development scheme.</p>

      <p><a href="/" class="govuk-link">Download CSV 11.7KB</a></p>

<style>

    .govuk-form-group {
      display: inline-block;
    }

</style>

    <hr class="govuk-section-break govuk-section-break--xl">


          <h3 class="govuk-heading-m">Download policy data</h3>
          <p>This download includes policy data data for all development planning documents contained in all planning authorities current and emerging local plans.</p>

      <p><a href="/" class="govuk-link">Download CSV 15.8KB</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Filter by"
  },
  items: [
    {
      value: "category",
      text: "Category",
      selected: true
    },
        {
      value: "all",
      text: "All"
    },
    {
      value: "housing",
      text: "Housing"    
      },
      {
      value: "transport",
      text: "Transport infrastructure"    
      },
            {
      value: "waste management",
      text: "Waste management"    
      },
      {
      value: "retail",
      text: "Retail"    
      },
      {
      value: "employment",
      text: "Employment"    
      }
  
  ]
}) }}

  {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: ""
  },
  items: [
    {
      value: "status",
      text: "Status",
      selected: true

    },
        {
      value: "all",
      text: "All"
    },
    {
      value: "examination",
      text: "Examination"    
      },
        {
      value: "adopted",
      text: "Adopted"    
      }
  
  ]
}) }}




  <div class="govuk-grid-row">

   <div class="govuk-grid-column-two-thirds">
   <h3 class="govuk-heading-s"><a href="/v2/policy-public-realm">Public Realm</a></h3>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Organisation</b> <a href="/v2/hackney">Hackney Council</a></p>
    <p class="govuk-body govuk-!-margin-bottom-0"><b>Document </b><a href="/v2/hackney-local-plan-2033" class="govuk-link">Local plan 2033</a></p>
   <p class="govuk-body"><b>Last updated</b> entry-date</p>

   </div>

      <div class="govuk-grid-column-two-thirds govuk-body govuk-!-margin-top-3">
   <h3 class="govuk-heading-s"><a href="/v2/policy-housing-supply" class="govuk-link">Housing Supply</a></h3>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Organisation</b> <a href="/v2/hackney">Hackney Council</a>l</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><b>Document </b><a href="/v2/hackney-local-plan-2033" class="govuk-link">Local plan 2033</a></p>
   </div>

</div>


    </div>
  </div>

{% endblock %}
