{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Local plan data
      </h1>

  {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Sort by"
  },
  items: [
    {
      value: "category",
      text: "Category"
    },
    {
      value: "housing",
      text: "Housing",
      selected: true
    }
  
  ]
}) }}



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

   <div class="govuk-grid-row govuk-!-margin-bottom-9">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">1.12M</h2>
                <p class="govuk-body-m">Housing requirement total</p>
            </div>

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">?%</h2>
                <p class="govuk-body-m">Housing target delivery</p>
            </div>
         </div>

  <div class="govuk-grid-row">


   <div class="govuk-grid-column-two-thirds">
   <h3 class="govuk-heading-s"><a href="/v2/policy">Housing Mix and Tenure to Meet Local Needs</a></h3>
      <p class="govuk-body govuk-!-margin-bottom-0"><b>Unit</b> 20000</p>

   <p class="govuk-body govuk-!-margin-bottom-0"><b>Organisation</b> Adur District Council</p>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Last updated</b> entry-date</p>
<p class="govuk-body"><b>Source document</b> <a href="">Planning policy url</a></p>


   </div>

      <div class="govuk-grid-column-two-thirds">
   <h3 class="govuk-heading-s"><a href="/">Affordable Housing</a></h3>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Organisation</b> Adur District Council</p>
   <p class="govuk-body govuk-!-margin-bottom-0"><b>Last updated</b> entry-date</p>
<p class="govuk-body govuk-!-margin-bottom-0"><b>Source document</b> <a href="">Planning policy url</a></p>



   </div>

</div>


    </div>
  </div>

{% endblock %}
