{% extends "layout.html" %}

{% block pageTitle %}
  Local plans
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a href="/v1/index" class="govuk-breadcrumbs__link" href="#">Planning policy</a>
      </li>

    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

    <p class="govuk-body-l">The Local Plan was adopted on 28 February 2018.</p>
     <p class="govuk-body-m">   <a href="#" class="govuk-link">View adoption statement</a></p>
      <p class="govuk-body-m"> <a href="#" class="govuk-link">View policies data</a></p>
  <div class="govuk-inset-text" style="padding-top: 0px; padding-bottom:0px; margin-top: 50px;">
      The Argleton local plan 2023 was submitted to the Planning Inspectorate on 23 January for examination in public.</p>

      For more information and to have your say, see <a href="#" class="govuk-link">local plan 2023</a>.

  </div>

  <hr>

  <h2 class="govuk-heading-l govuk-!-margin-top-7">Strategic objectives</h2>
    <p class="govuk-body-l">To achieve our vision to help prepare detailed policies in the Local plan, we have developed a set of overarching objectives.</p>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Housing</a></h2>
        <p class="govuk-body-m">Our housing strategy ensures that the housing stock meets the housing needs of the Argleton county area.</p>

      </div>

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Transport</a></h2>
        <p class="govuk-body-m">Transport infrastructure planning strategy and context.</p>
      </div>
    </div>

        <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Health</a></h2>
        <p class="govuk-body-m">Health infrastructure planning
strategy and context.</p>

      </div>

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Climate change</a></h2>
        <p class="govuk-body-m">Sustainablity planning strategy and context.</p>
      </div>
    </div>

    <hr>

      <h2 class="govuk-heading-l govuk-!-margin-top-7">Supplementary plans and strategies</h2>

<div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Wind Energy  Supplementary  Planning Document</a></h2>
        <p class="govuk-body-m">Supplementary planning
document.</p>

      </div>

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">Neighbourhood
planning</a></h2>
        <p class="govuk-body-m">Neighbourhood planning
strategy and context.</p>
      </div>
    </div>

  </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Local plan review 2023
              </a>
            </li>
      
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
