{% extends "layout-masthead.html" %}

{% block pageTitle %}
  Local plans
{% endblock %}

{# {% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %} #}

{# {% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Planning policy</a>
      </li>

    </ol>
  </div>
{% endblock %} #}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-m">The Digital Land team and policymakers at the Ministry of Housing, Communities and Local Government (MHCLG) have built a national dataset of local plans. We collect local plan data from local planning authorities and run it through our pipeline process, which updates the data to meet the standard and fixes common errors in the data.
      </p>
      <p class="govuk-body-m">Whilst our process has significantly improved the data, we cannot guarantee its accuracy, since it relies on the data published by the local planning authorities.</p>

    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">National dataset for local plans</h2>

            <p class="govuk-body-m ">View and download policy and timetable data from all current and emerging local plans.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
                text: "View plan data",
                href:"/v3/plan-data"
              }) }}

        

          <h3 class="govuk-heading-l govuk-!-margin-top-9">Download the data</h3>

    <h3 class="govuk-heading-m">Development plan document data</h3>
          <p>This download includes timetable information relating to all development plan documents in planning authorities local development scheme.</p>

      <p><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTwBvGTiQP05bLZ2Livf2Ew8CkAWkAXOfiZygZC3kZ60l2IrqCKEJFPD8oiXmb4AHJ6AV5QkcSAav2O/pubhtml" class="govuk-link">Download CSV 11.7KB</a></p>

<style>

    .govuk-form-group {
      display: inline-block;
    }

</style>


   
          <h3 class="govuk-heading-m">Policy data</h3>
          <p>This download includes policy data data for all development planning documents contained in all planning authorities current and emerging local plans.</p>

      <p><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSTheyrwpOHm7VXxot2Z1Et4qnRTUBBSlG7TasKH9sjBwnsXQt_nqt21bJFEJnwukmuZ1ZaOVMO1UOE/pubhtml" class="govuk-link">Download CSV 15.8KB</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-l govuk-!-margin-top-9">Publish your plan</h3>

    <p class="govuk-body-m ">This guidance will help local planning authorities ensure that the data in their Local Development Schemes and development plan documents are published in the agreed format and contain the required data and kept up to date.</p>

         <p><a href="/v3/publish-data" class="govuk-link">Find out how to publish your plan</a></p>

<div class="govuk-!-margin-top-9">
        <h3 class="govuk-heading-m">Help improve this data</h3>

        <p class="govuk-body-m ">If you are not responsible for editing and publishing this data, but you have found errors, please complete this form or email corrections or questions to DigitalLand@communities.gov.uk.</p>

   
        </div>




        </div>
        </div>

</div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Local plans data standard
              </a>
            </li>
            <li>
              <a href="/v3/publish-data">
                Publish your local plan data
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
