{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v3/hackney-local-plan-2033">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Local plan 2033</span>

      <h1 class="govuk-heading-l">
        Public Realm
      </h1>

      <p><b>Planning authority:</b> Hackney Council</p>

    <hr class="govuk-section-break govuk-section-break--xl">

<table class="govuk-table">
  <caption class="govuk-table__caption"></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">ID</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Name</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Category</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Unit</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Spatial element</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell--numeric">PP1</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Public Realm</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">CB</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Examination</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">Strategic</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">[]</td>
    </tr>
   
  </tbody>
</table>

    <hr class="govuk-section-break govuk-section-break--xl">

      <h4 class="govuk-heading-s">Document url</h4>
      <p><a href="https://drive.google.com/file/d/1SZVBQcfOB7cMW7AMel7NqOJ3cOYpnu60/view" class="govuk-link">SD01 – proposed submission local plan 2033</a></p>


      <h4 class="govuk-heading-s">Related policies</h4>

       <p>PP2 – Dalston</p>
       <p>PP3 – Hackney Central and Surrounds</p>
    </div>
  </div>

{% endblock %}
