{% extends "layout.html" %}

{% block pageTitle %}
  PP1 –  Public Realm policy
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v3/hackney-local-plan-2033">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Local plan 2033</span>

      <h1 class="govuk-heading-l">
          PP1 –  Public Realm policy
      </h1>

      <p class="govuk-!-margin-bottom-1"><b>Planning authority:</b> Hackney Council</p>
      <p class="govuk-!-margin-bottom-1"><b>Type:</b> Strategic</p>
      <p  class="govuk-!-margin-bottom-1"><b>Category:</b> Conservation and enhancement of the built environment</p>
    <hr class="govuk-section-break govuk-section-break--l">

    <p>The public space around, between and within buildings, streets, squares, parks and open spaces all support public life and social interaction. Hackney’s public spaces are key to creating a sense of place and play an important role in enhancing communities’ quality of life and health and wellbeing and can even play a role in boosting the local economy.</p>


      <h3 class="govuk-heading-m">Policy url</h3>
      <p><a href="https://drive.google.com/file/d/1SZVBQcfOB7cMW7AMel7NqOJ3cOYpnu60/view" class="govuk-link">SD01 – proposed submission local plan 2033</a></p>


      <h3 class="govuk-heading-m">Related policies</h3>

       <p><a href="policy-dalston" class="govuk-link">PP2 – Dalston</a></p>
       <p>PP3 – Hackney Central and Surrounds</p>
    </div>
  </div>

{% endblock %}
