{% extends "layout.html" %}

{% block pageTitle %}
  Publish development management plan
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v3/">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
  <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">

      <p>Content</p>
      <p class="govuk-body-s"><a href="" class="govuk-link">Step 1: Create your CSV files</a></p>
      <p class="govuk-body-s"><a href="" class="govuk-link">Step 2: Update your local plan web page</a></p>
      <p class="govuk-body-s"><a href="" class="govuk-link">Step 3: Submit the URLs you created in Step 2 to the national register of developer contributions
</a></p>



  </div>


  <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        Publish your development management plans

      </h1>
      <p>Section 19(1B) - (1E) of the Planning and Compulsory Purchase Act 2004 sets out that each local planning authority must identify their strategic priorities and have policies to address these in their development plan documents (taken as a whole).</p>

      <p>A Local Development Scheme is required under section 15 of the Planning and Compulsory Purchase Act 2004 (as amended). This must specify the development plan documents (i.e. local plans) which, when prepared, will comprise part of the development plan for the area. The Local Development Scheme must be made available publicly and kept up-to-date. </p>

      <p>Local Development Schemes must also be produced in compliance with any data standard for this purpose published by MHCLG. Up-to-date and accessible reporting on the Local Development Scheme in an Authority’s Monitoring Report is an important way in which authorities can keep communities informed of plan making activity.</p>

      <p>This guidance will help local planning authorities ensure that the data in their Local Development Schemes and development plan documents are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>published in the agreed format and contain the required data</li>
        <li>kept up to date</li>
        <li>easily found online</li>
      </ul>

      <p>The data will give policy makers better insights into how local plans are supporting new development and local infrastructure. We have designed the data format to cause as little disruption as possible to existing processes.</p>

      <p>Please share any feedback on this guidance by emailing DigitalLand@communities.gov.uk</p>


      <h2 class="govuk-heading-l">Publish your development management plans</h2>
      <p>A local plan sets out all local planning policies and decisions for authorities. It identifies how land is used, decides what will be built where and is used to determine all local planning decisions. Every local planning authority is required to update its local plan every 5 years.</p>
  </div>
  </div>
  </div>

{% endblock %}
