
{% extends "layout.html" %}

{% block pageTitle %}
  Local plans alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Local plans
      </h1>
      <p>
        Prototypes for the MHCLG local plans alpha.
      </p>

        <div><h3 class="govuk-heading-m"><a href="/v1">Version 1</a></h3></div>
        <p>This version of the protoype...</p>
        <p>It was tested with 3 local authorities on the 17th of April 2020.</p>


        <div><h3 class="govuk-heading-m"><a href="/v2">Version 2</a></h3></div>
            <p>This version of the protoype...</p>
      <p>
      </p>
      <br>
<div>
<p>Contact <a href="mailto:alex.yedigaroff@dxw.com" target="_top">Alex Yedigaroff</a> for any questions about this prototype.</p>
</div>
    </div>
</div>

{% endblock %}
