
{% extends "layout.html" %}

{% block pageTitle %}
  Local plans alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Local plans
      </h1>
      <p>
        Prototypes for the MHCLG Local Plans Alpha.
      </p>

        <div><h3 class="govuk-heading-m"><a href="/v1" class="govuk-link">Version 1</a></h3></div>
        <p>This version of the protoype focuses on an exemplar local plan page for local authorities, including a policy data table.</p>
        <p>It was tested with 3 Local Authority participants on the 17th of April 2020.</p>


        <div><h3 class="govuk-heading-m"><a href="/v2" class="govuk-link">Version 2</a></h3></div>
            <p>This version of the protoype focuses on plan data (including plan timetables) at the national level and for individual planning authorities. </p>
                    <p>It was tested with 5 (PINS and MHCLG) participants on the 1st and 4th of May 2020.</p>

      <p>
      </p>
      <br>
<div>

        <div><h3 class="govuk-heading-m"><a href="/v3" class="govuk-link">Version 3</a></h3></div>
            <p>This version of the protoype ... </p>
                    <p>It was tested with ...</p>

      <p>
      </p>
      <br>
<div>
<p>Contact <a href="mailto:alex.yedigaroff@dxw.com" target="_top" class="govuk-link">Alex Yedigaroff</a> for any questions about this prototype.</p>
</div>
    </div>
</div>

{% endblock %}
